In [1]:
import pandas as pd

In [2]:
address = "https://archive.ics.uci.edu/ml/machine-learning-databases/00505/qsar_aquatic_toxicity.csv"

In [3]:
data = pd.read_csv(address)

In [4]:
data.head()

              0;0;0;2.419;1.225;0.667;0;0;3.740
0             0;0;0;2.638;1.401;0.632;0;0;4.330
1          9.23;11;0;5.799;2.93;0.486;0;0;7.019
2         9.23;11;0;5.453;2.887;0.495;0;0;6.723
3         9.23;11;0;4.068;2.758;0.695;0;0;5.979
4  215.34;327.629;3;0.189;4.677;1.333;0;4;6.064

In [6]:
col_names = "TPSA(Tot)", " SAacc", " H-050", "MLOGP", "RDCHI", "GATS1p", "nN","C-040", "Target- LC50 [-LOG(mol/L)]"
data = pd.read_csv(address, names = col_names, sep=";")
data.head()

,TPSA(Tot),SAacc,H-050,MLOGP,RDCHI,GATS1p,nN,C-040,Target- LC50 [-LOG(mol/L)]
0,0.00,0.0,0,2.419,1.225,0.667,0,0,3.740
1,0.00,0.0,0,2.638,1.401,0.632,0,0,4.330
2,9.23,11.0,0,5.799,2.930,0.486,0,0,7.019
3,9.23,11.0,0,5.453,2.887,0.495,0,0,6.723
4,9.23,11.0,0,4.068,2.758,0.695,0,0,5.979

In [7]:
# Storing the dataset
data.to_csv("Dataset.csv")